<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="web tests">

    <!-- Run test method on group "selenium" only -->
    <test name="user">

        <classes>
            <class name="org.hruday.RegistrationAndLoginTest"/>
            <class name="org.hruday.FlightBookingTest"/>
        </classes>

    </test>

</suite>